  </div>
  <footer>asinc.me ❤ 2018 - Powered by Strava - <a href="https://github.com/foransic/strats/"><img src="assets/images/github.png" /></a></footer>
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
